@import "bulma";
*{
	    box-sizing: border-box;
}
body{
	  color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571428571429;
}

img {max-width:100%;}

.cardContainer{
	display: flex;
	flex-direction: row;
	.card {
		margin: 150px 15px 15px 20px;
		width: 200px;
		height: 200px;
	}
}

.imgs{
	width: 100%;
    padding: 0px;
    height: 85px;
}

.count{
	font-size: large;
}
