@import "bulma";
*{
	    box-sizing: border-box;
}
body{
	  color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571428571429;
}

img {max-width:100%;}

.card {
   height: 250px;
   width: 250px;
   margin: 150px 15px 15px 20px;
   float: left;
   overflow: auto;
    border: 1px solid black;
    }

.imgs{
	width: 100%;
    padding: 0px;
    height: 85px;
}

.count{
	font-size: large;
}
