@import "bulma";
*{
	  box-sizing: border-box;
}

nav{
	text-align: center;
	font-size: 15px;
	margin-top: 8px;
}

h1{
	height: 110px;
	text-align: center;
}

.addBar {
	height: 75px;
	text-align: center;
}

.cardContainer {
	.card {
	 height: 200px;
	    width: 264px;
	    margin: 0px;
	    float: left;
	    overflow: auto;
	    border-radius: 117px;

	}

	img {
			max-width: 144%;
			position: absolute;
			bottom: 7px;
			left: -42px;
			top: -6px;
			border-radius: 130px;
	}
	.imgs{
		width: 100%;
	    padding: 0px;
	    height: 85px;
	}

	.count{
		font-size: large;
	}
}
