<span><img src="./images/download.jpeg"  class="Addpage"></span>
<div><img src="./images/closeup1.png"  class="Closeup-Logo"></div>

<div class="border"  ng-controller="AddController">

<form name="new-img" ng-submit="addImg(img)" class="formPosition">

<label class="label">Title</label>
  <p class="control">
     <input name="name" class="input1"  type="text" placeholder=" Title"
           ng-model="img.title" ng-keyup="validateName(img.name)"/> {{ errors.name }}
  </p>

  <label class="label">Link</label>
  <p class="control">
    <input name="url" class="input2" type="text" placeholder=" http://closeup.img"
           ng-model="img.url" ng-keyup="validateEmail(img.email)"/> {{ errors.email}}
  </p>

  <button class="buttonis-primary">Add</button>

</form>


<div id="slideshow">
   <img src="./images/closeup2.png " class="close" >
</div>


</div>
