<span><img src="./images/download.jpeg"  class="Addpage"></span> 
<div><img src="./images/closeup1.png"  class="Closeup-Logo"></div> 
<div class="border">
<form name="new-img" ng-submit="addImg(img)" class="formPosition">
<label class="label">Name</label>
  <p class="control">
     <input class="input1"  type="text" placeholder=" Title"
           ng-model="Info.title" ng-keyup="validateName(Info.title)"/> {{ errors.title }}
  </p>
  <p class="control">
    <input name="url" type="text" placeholder=" http://closeup.img"
           ng-model="img.url" class="input1"/>{{ errors.url}}
  </p>
   <button class="buttonis-primary">Add</button>
  </form>
  


  <div class='name'>
       <ul cliass= "Messages"> 
           <li ng-repeat= "img in imgs">
             <div class="styla">Name:<span>{{img.title}}<span></div>
             <div class="styla">Email<span>{{message.email}}</span></div>
             </li>
        </ul>
   </div>
  

  <div id="slideshow">
   <div>
  

     <img src="./images/closeup2.png " class="close" >
   </div>
 
   
</div>



