
<div class="detailCard">

  <div class="detailTitle">{{ img.title }}</div>

  <div class="detailImg">
    <button class='imgs' ng-dblclick="addLike(img)">
      <img ng-src="{{ img.url }}" />
      <i class="fa fa-heart" aria-hidden="true"></i>
    </button>
  </div>

  <div class="count">Love it {{ img.count }}x{{ times }}! </div>

  <form ng-submit="addComment(comments)" class="commentForm">
    <label class="label">Comments</label>
        <p class="control">
          <textarea class="textarea"
                placeholder="Add a comment!"
                ng-model="comments.comment">
          </textarea>
        </p>
       <p class="control">
          <button class="button is-secondary">Submit</button>
       </p>
   </form>
<div class="commentShow">
  <ul>
    <li ng-repeat="showComment in showComments">
      <div class="box">
        <p>{{showComment.comments}}</p>
      </div>
    </li>
  </ul>
</div>

</div>
